table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tr {
  td.value {
    width: 250px;
  }
  td.key {
    width: 120px;
  }
}

.info, #map {
  display: inline-block;
  vertical-align:top;
}

#map {
  width: 560px;
  height: 400px;
  float: right;
}

.actions {
  margin-top: 10px;
}
